/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
 }
 body{
  max-width: 1440px;
  margin: 0 auto;
 }

 /* header section */
 header{
  max-width: 1440px;
  align-items: center;
 }
 nav{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 20px 100px;
 }
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.nav-description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.10);
  border-radius: 8px;
  padding: 10px 15px;

}
.logo{
  height: 30px;
}
.logo-name{
  font-size: 2rem;
  margin-left: 15px;
 
}
span{
  color: #df0d8b;
}
.nav-about{
  display: flex;
  align-items: center;
}
.nav-about li{
  list-style: none;
  margin-left: 20px;
}
.nav-about a{
  font-weight: 500;
  text-decoration: none;

}
.nav-about a:hover{

  color: #4ec5fc;
  font-weight: 500;

}
.nav-description img{
  transform: scale(0.7);
}

/* banner section */
.banner-container{
  background-image: url(../images/Group\ 14.png);
  background-repeat: no-repeat;
  background-size: 52%;
  display: flex;

}
.banner-contant, .banner-img{
  justify-content: space-between;
  align-items: center;
  margin: 0 100px;
}
.banner-img-style{
  width: 50%;
  align-items: center;
  
}
.banner-icon{
  width: 24px;
  height: 24px;
}
.banner-contant-title{
  color: #0B0223;
  text-align: center;
  font-size: 38px;
  font-weight: 400;
  text-transform: uppercase;
  
}
.banner-contant{
 
 
}

.banner-contant-sub-title{
  text-align: center;
  font-size: 75px;
  font-weight: 600;
  text-transform: uppercase;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.banner-img{

}