/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
  font-family: 'Work Sans', sans-serif;
 }
 body{
  max-width: 1440px;
  margin: 0 auto;
 }
 /* share btn */
 .primary-button {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
 }

 /* header section */
 
 nav{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 20px 100px;
 }
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.nav-description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.10);
  border-radius: 8px;
  padding: 10px 15px;

}
.logo{
  height: 30px;
}
.logo-name{
  font-size: 2rem;
  margin-left: 15px;
 
}
span{
  color: #df0d8b;
}
.nav-about{
  display: flex;
  align-items: center;
}
.nav-about li{
  list-style: none;
  margin-left: 20px;
}
.nav-about a{
  font-weight: 500;
  text-decoration: none;

}
.nav-about a:hover{

  color: #4ec5fc;
  font-weight: 500;

}
.nav-description img{
  transform: scale(0.7);
}

/* banner section */
.header-container {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 619px;
  height: 581px;
}

.short-from {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 85px;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-title {
    color: #0b0223;
  
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0; 
}


















/* Responsive media query*/

/* mobile device */


@media screen and (max-width:576px) {
  nav{
    flex-direction: column;
  }
  .nav-about{
    flex-direction: column;

  }
  .nav-about li{
    margin-top: 20px;
  }
}


/* medium device */
@media screen and (min-width:576px) and (max-width : 960px) {
  
}

nav{
  flex-direction: column;
}
 
