/* Work Sans Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

 * {
  font-family: 'Work Sans', sans-serif;
 }
 body{
  max-width: 1440px;
  margin: 0 auto;
 }
 /* share btn */
 .primary-button {
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  border: none;
 }

 /* header section */
 
 nav{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  align-items: center;
  padding: 20px 100px;
 }
.nav-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.nav-description{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(11, 2, 35, 0.10);
  border-radius: 8px;
  padding: 10px 15px;

}
.logo{
  height: 30px;
}
.logo-name{
  font-size: 2rem;
  margin-left: 15px;
 
}
span{
  color: #df0d8b;
}
.nav-about{
  display: flex;
  align-items: center;
}
.nav-about li{
  list-style: none;
  margin-left: 20px;
}
.nav-about a{
  font-weight: 500;
  text-decoration: none;

}
.nav-about a:hover{

  color: #4ec5fc;
  font-weight: 500;

}
.nav-description img{
  transform: scale(0.7);
}

/* banner section */
.header-container {
  padding: 0 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-img {
  width: 619px;
  height: 581px;
}

.short-from {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  font-size: 85px;
  font-style: normal;
  font-weight: 800;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header-title {
    color: #0b0223;
  
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 0; 
}
/*  we are gammer section */

.gammer-container {
  margin-top: 60px;
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 120px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
}
.gammer-container img {
  width: 700px;
  height: 489px;
  flex-shrink: 0;
}
.gammer-container h1 {
  text-align: right;
  font-size: 48px;
  font-weight: 700;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
.gammer-container p {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.gammer-container h6 {
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.know-more-btn {
  display: flex;
  justify-content: flex-end;
}

/* video section style */
.video-container {
  padding: 0 120px;
}
.video-title {
  color: #0b0223;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.video-text-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
/* .video-card {
  
} */
.video-card img {
  width: 342px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 16px;
}
.video-card p {
  width: 342px;
}
/* play instantly style  */

.play-container {
  padding: 0 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.play-container h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
}

.play-container p {
  color: #534c64;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.play-text-style {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.play-img-1 {
  width: 634.833px;
  height: 650px;
  border-radius: 8px;
}
.play-img-2 {
  width: 318.5px;
  height: 365.083px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 10px solid #fff;
  position: absolute;
  right: 600px;
  bottom: -40px;
}

.game-right {
  width: 470px;
}
/* img section */




















/* Responsive media query*/

/* mobile device */


@media screen and (max-width:576px) {
  nav,
  .header-container,
  .know-more-btn,
  .card-container,
  .play-container{
    flex-direction: column;
  }
  .nav-about{
    flex-direction: column;

  }
  .nav-about li{
    margin-top: 20px;
  }
  .primary-button{
    align-items: center;
  }
}


/* medium device */
@media screen and (min-width:576px) and (max-width : 960px) {
  nav,
.header-container{
  flex-direction: column;
}
  
}


 
